{% extends "base.jinja.html" %}
{% block title %}
    Home
{% endblock %}
{% block header %}

{% endblock %}
{% block main %}
    <div class="">
        <div class="row">
            <div class="col s12 l3 push-l9" id="schedule">
                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header active">
                            <i class="material-icons small">schedule</i>Your Schedule
                        </div>
                        <div class="collapsible-body">
                            <ul class="collection">
                                {% for i,x in schedule.items() %}
                                    {% if x.class %}
                                        {% set att=x.objtype_13.attendance %}
                                        {% if att == "-1" %}
                                            {% set attcolor="gray" %}
                                        {% elif att == "0" %}
                                            {% set attcolor="green" %}
                                        {% elif att == "1" %}
                                            {% set attcolor="amber" %}
                                        {% elif att == "3" %}
                                            {% set attcolor="red" %}
                                        {% endif %}
                                        <li class="collection-item avatar">
                                            <i class="material-icons circle {{ attcolor }}">
                                                {% if current_time > x.sdate|to_date and current_time < x
                                                .edate|to_date %}
                                                    keyboard_arrow_right
                                                {% endif %}
                                            </i>
                                            <span class="title">{{ x.sdate|time_format }}: {{ x.class }}</span>
                                            <br/>
                                            <div class="chip">
                                                <i class="material-icons tiny">room</i>
                                                Rm. {{ x.roomName }}
                                            </div>
                                            <div class="chip">
                                                {{ x.name }}
                                            </div>
                                        </li>
                                        {#                                    {% else %}
                                        <li class="collection-item avatar">
                                            <i class="material-icons circle purple"></i>
                                            <span class="title">{{ x.name }}</span>
                                        </li>#}
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col s12 l3 pull-l3" id="classMenu">
                <div class="collection">
                    {% for key,values in classes.items() %}
                        <a href="#!" class="collection-item">{{ values.human_name }}</a>
                    {% endfor %}
                </div>
            </div>
            {#            <div class="col s12 l6">
                {% for key,values in feeds.items() %}
                    {% for i,x in feeds[key].items() %}
                        #}{# <p>{{ x }}</p> #}{#
                        {% if x.right.normal.body %}
                            <div class="card {{ colors[key] }}">
                                <div class="card-content white-text">
                                    <span class="card-title">{{ key }}: {{ classes[key]['human_name']|title }}</span>
                                    <div class="chip">
                                        <img src="{{ static('images/the_donald.png') }}"
                                             alt="Post Author"/>
                                        {{ x.right.normal.name.user }}
                                    </div>
                                    <p>{{ x.right.normal.body }}</p>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>#}
            <div class="col s12 l6 pull-l3">
                {% for i,x in activity.items() %}
                    {# <p>{{ x }}</p> #}
                    {% if x.right.normal.body and not x.right.attendance %}
                        <div class="card white">
                            <div class="card-content">
                                <span class="card-title">{% if not x.right.normal.name.place %}{{ x }}{% else %}
                                    {{ x.right.normal.name.place }}{% endif %}</span>
                                {#                                <span class="card-title">{{ i }}:
                                    {% if not x.right.normal.name.place %}{{ x }}{% else %}
                                        {{ x.right.normal.name.place }}{% endif %}</span>#}
                                <div class="chip">
                                    <img src="{{ x.left.profpicURL }}"
                                         alt="Post Author"/>
                                    {{ x.right.normal.name.user }}
                                </div>
                                <div class="chip">
                                    {{ x.right.footer.date|post_date_format }}
                                </div>
                                <p>{{ x.right.normal.body|safe|urlize|url_target_blank }}</p>
                                {#                                <code>{{ x }}</code>#}
                            </div>
                            {% if 'filesPrep' in x.keys() %}
                                <div class="card-action">
                                    {% for val in x['filesPrep']['init']['files'] %}
                                        <a href="{{ val['downloadURL'] }}" class="waves-effect waves-light white-text
                                        btn green"><i
                                                class="material-icons left">file_download</i> {{ val['Content']['ContentName'] }}
                                        </a><br/>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="card white">
                            <div class="card-content">
                                {% if x.right.attendance %}
                                    <span class="card-title">{% if x.right.attendance.name.place %}{{ x.right
                                    .attendance.name.place }}{% else %}ATTENDANCE{% endif %}</span>
                                    <div class="chip">
                                        <img src="{{ x.left.profpicURL }}"
                                             alt="Post Author"/>
                                        {{ x.right.normal.name.user }}
                                    </div>
                                    <div class="chip">
                                        {{ x.right.footer.date|post_date_format }}
                                    </div>
                                    <p>
                                        {% set marked_as="Marked as" %}
                                        {% set attType=x.right.attendance.type.name.attType %}
                                        {% if attType == 0 %}
                                            {{ marked_as }} Late
                                        {% elif attType == 1 %}
                                            {{ marked_as }} Present
                                        {% elif attType %}
                                            Entered Planned Absence
                                            <br/>{{ x }}
                                        {% else %}
                                            {{ x }}
                                        {% endif %}
                                    </p>
                                {% else %}
                                    {{ x }}
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}